$width: 990px;

.ec-login {
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-family: $fontFamily1;
  background-color: #fff;

  .header-container {
    background-color: #fff;

    .header {
      width: $width;
      height: 80px;
      line-height: 80px;
      margin: auto;
      font-size: 24px;

      a {
        color: $mainColor;
        cursor: pointer;
        transition: color 500ms ease-in-out;
      }
      a:hover {
        color: red;
      }
    }
  }

  .middle-container {
    background: $mainColor;
    height: 485px;
    width: 100%;

    .middle {
      width: 100%;
      height: 100%;
      position: relative;

      .login-image-link {
        position: absolute;
        width: 100%;
        height: 100%;
        background: url("../images/login_bg.png") no-repeat center;
        background-size: cover;
      }

      .login-container {
        width: 380px;
        height: 340px;
        background: rgba(255, 255, 255, 1);
        border-radius: 3px;
        position: absolute;
        top: 50%;
        right: 120px;
        margin-top: -170px;
        opacity: 1;
        animation: loginContainerMoveIn .8s ease-in-out 0s 1;

        .caption {
          font-size: 16px;
          font-weight: bold;
          color: #333;
          border-bottom: 1px solid #eeeeee;
          padding: 10px 20px;
        }

        .form-container {
          padding: 40px 20px 10px 20px;
          position: relative;

          .error-tips {
            position: absolute;
            border: 1px solid #e4393c;
            background-color: #ffebeb;
            width: 340px;
            top: 6px;

            span:first-child {
              width: 40px;
              float: left;
              text-align: center;
              height: 26px;
              i {
                color: $mainColor;
                line-height: 26px;
              }
            }
            span:last-child {
              float: left;
              height: 26px;
              line-height: 26px;
            }
          }

          .username-container, .password-container {
            border: 1px solid #dddddd;

            label {
              background: #dddddd;
              width: 40px;
              height: 40px;
              text-align: center;
              float: left;

              i {
                line-height: 40px;
              }
            }

            input {
              width: 298px;
              height: 40px;
              line-height: 40px;
              float: right;
              border: none;
              padding: 0 10px;
            }
          }

          .password-container {
            margin-top: 20px;
          }

          .tool-container {
            margin-top: 25px;

            a {
              cursor: pointer;
            }
            a:hover {
              color: $mainColor;
            }

            a:first-child {
              float: left;
            }
            a:last-child {
              float: right;
            }
          }

          .login-button {
            margin-top: 20px;
            text-align: center;
            background-color: rgba(196, 0, 0, .78);
            font-size: 18px;
            height: 40px;
            line-height: 40px;
            color: #fff;
            border-radius: 3px;
            cursor: pointer;
            transition: background-color 500ms ease-in-out;

            &:hover {
              background-color: $mainColor;
            }
          }
        }
      }
    }
  }
}