$fontFamily1: "microsoft yahei", tahoma, arial, 'Hiragino Sans GB', 宋体, sans-serif;
$maxWidth: 1200px;
$minWidth: 1004px;
$mainColor: rgba(196, 0, 0, 1);
$logoColor: rgba(224, 26, 59, 1);
$barHeight: 34px;