.ec-main-menu {
  position: absolute;
  left: 0;
  top: 0;
  font-family: $fontFamily1;

  .menu-container {
    width: 200px;

    &:hover {
      .first-level-menu-ul {
        display: block;
      }
      .btn-container {
        i {
          transform: rotate(180deg);
        }
      }
    }

    .btn-container {
      background-color: #B1191A;
      padding: 0 16px;
      color: #fff;
      cursor: pointer;

      .btn {
        height: 42px;
        line-height: 40px;
        float: left;
        font-size: 16px;
      }
      & > i {
        float: right;
        line-height: 40px;
        transition: transform .25s ease-in-out;
        display: none;
      }
    }

    .first-level-menu-ul {
      position: absolute;
      width: 200px;
      height: 500px;
      left: 0;
      top: 42px;
      color: #fff;
      background-color: rgba(0, 0, 0, .8);
      display: block;

      .first-level-menu-li {
        font-size: 14px;

        &:hover {
          .first-level-menu-li-content {
            background-color: #000;
            .first-level-icon {
              opacity: 1;
              transform: rotate(-30deg);
            }
            .arrow {
              display: block;
            }
          }
          .second-level-menu-container {
            display: block;
          }
        }

        .first-level-menu-li-content {
          height: 31px;
          line-height: 31px;
          padding: 0 12px;
          position: relative;

          .first-level-icon {
            margin-right: 3px;
            opacity: .5;
            height: 31px;
            line-height: 31px;
            display: inline-block;
            vertical-align: 1px;
            font-family: 'tbFontIcon';
            transition: transform .5s, opacity .5s;
          }

          a {
            cursor: pointer;
            color: #fff;
            &:hover {
              text-decoration: underline;
            }
          }

          .arrow {
            position: absolute;
            height: 0;
            border-style: solid;
            border-width: 7px 7px 7px 0;
            border-color: transparent #f3f3f3;
            right: 0;
            top: 9px;
            display: none;
          }
        }

        .second-level-menu-container {
          position: absolute;
          width: 780px;
          height: 500px;
          left: 200px;
          top: 0;
          background-color: rgba(253, 253, 253, .98);
          display: block;
          color: #000;

          .second-level-menu-ul-left {
            float: left;
            padding: 5px 20px 0;
            width: 480px;

            .second-level-menu-ul-left-li {
              overflow: hidden;

              .ec-title {
                font-size: 14px;
                border-bottom: 1px solid #000;
                padding: 0 8px 0 5px;

                a.ec_detail {
                  cursor: pointer;
                  width: auto;
                  background: url("../images/menu_icons.png") no-repeat;
                  padding: 19px 0 0 60px;
                  height: 40px;
                  color: #000;
                }
                a.ec_more {
                  margin-top: 19px;
                  cursor: pointer;
                  color: #000;
                }
              }

              .ec-third-level-menu-ul {
                padding-top: 2px;
                padding-bottom: 12px;
                margin-left: -1px;
                border-bottom: 1px dotted #000;

                &:last-child {
                  border-bottom: none;
                }

                .ec-third-level-menu-li {
                  padding: 0 7px;
                  margin-top: 12px;
                  color: #666;
                  font-size: 13px;
                  line-height: 13px;
                  cursor: pointer;
                  border-left: 1px solid #ccc;
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
          }

          .second-level-menu-ul-right {
            float: left;
            padding: 5px 20px 0;
            width: 300px;

            .second-level-menu-ul-right-li {
              overflow: hidden;

              .ec-title {
                font-size: 14px;
                border-bottom: 1px solid #000;
                padding: 0 0 0 9px;

                a.ec_detail {
                  cursor: pointer;
                  width: auto;
                  padding: 19px 0 0 0px;
                  height: 40px;
                  color: #000;
                }
              }
              .ec-third-level-menu-ul {
                padding-top: 2px;
                padding-bottom: 12px;
                margin-left: -1px;
                border-bottom: 1px dotted #000;

                &:last-child {
                  border-bottom: none;
                }

                .ec-third-level-menu-li {
                  padding: 0 7px;
                  margin-top: 12px;
                  color: #666;
                  font-size: 13px;
                  line-height: 13px;
                  cursor: pointer;
                  border-left: 1px solid #ccc;
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }

            .second-level-menu-ul-right-li-for-img {
              margin-top: 6px;
              margin-bottom: 15px;

              a {
                width: 100%;
                height: 100%;
                display: block;
                .ec-li-img {
                  width: 260px;
                  display: block;
                  cursor: pointer;
                }
              }
            }

          }
        }

        .second-level-menu-container {
          &.color_1 {
            .ec-third-level-menu-li {
              a {
                color: #666;
              }
              &.ec-highlight {
                a {
                  color: #d01f47;
                }
              }
              &:hover {
                a {
                  color: #d01f47;
                }
              }
            }
          }
          &.color_2 {
            .ec-third-level-menu-li {
              a {
                color: #666;
              }
              &.ec-highlight {
                a {
                  color: #1291cf;
                }
              }
              &:hover {
                a {
                  color: #1291cf;
                }
              }
            }
          }
          &.color_3 {
            .ec-third-level-menu-li {
              a {
                color: #666;
              }
              &.ec-highlight {
                a {
                  color: #8b478b;
                }
              }
              &:hover {
                a {
                  color: #8b478b;
                }
              }
            }
          }
          &.color_4 {
            .ec-third-level-menu-li {
              a {
                color: #666;
              }
              &.ec-highlight {
                a {
                  color: #d8468d;
                }
              }
              &:hover {
                a {
                  color: #d8468d;
                }
              }
            }
          }
          &.color_5 {
            .ec-third-level-menu-li {
              a {
                color: #666;
              }
              &.ec-highlight {
                a {
                  color: #2062d3;
                }
              }
              &:hover {
                a {
                  color: #2062d3;
                }
              }
            }
          }
          &.color_6 {
            .ec-third-level-menu-li {
              a {
                color: #666;
              }
              &.ec-highlight {
                a {
                  color: #df3f4e;
                }
              }
              &:hover {
                a {
                  color: #df3f4e;
                }
              }
            }
          }
          &.color_7 {
            .ec-third-level-menu-li {
              a {
                color: #666;
              }
              &.ec-highlight {
                a {
                  color: #f56a00;
                }
              }
              &:hover {
                a {
                  color: #f56a00;
                }
              }
            }
          }
          &.color_8 {
            .ec-third-level-menu-li {
              a {
                color: #666;
              }
              &.ec-highlight {
                a {
                  color: #2262d3;
                }
              }
              &:hover {
                a {
                  color: #2262d3;
                }
              }
            }
          }
          &.color_9 {
            .ec-third-level-menu-li {
              a {
                color: #666;
              }
              &.ec-highlight {
                a {
                  color: #2262d3;
                }
              }
              &:hover {
                a {
                  color: #2262d3;
                }
              }
            }
          }

        }

      }
    }

  }
}