<div class="ec-carousel">
    <div class="ec-carousel-content-container">
        <div class="ec-carousel-outer-container clearfix">
            <a class="ec-carousel-inner-container ec_f_l">1</a>
            <a class="ec-carousel-inner-container ec_f_l">2</a>
            <a class="ec-carousel-inner-container ec_f_l">3</a>
            <a class="ec-carousel-inner-container ec_f_l">4</a>
            <a class="ec-carousel-inner-container ec_f_l">5</a>
            <a class="ec-carousel-inner-container ec_f_l">6</a>
        </div>
        <div class="ec-carousel-indicators">
            <div class="ec-carousel-indicators-point">1</div>
            <div class="ec-carousel-indicators-point">2</div>
            <div class="ec-carousel-indicators-point">3</div>
            <div class="ec-carousel-indicators-point">4</div>
            <div class="ec-carousel-indicators-point">5</div>
            <div class="ec-carousel-indicators-point">6</div>
        </div>
    </div>
</div>