<div class="ec-carousel">
    <div class="ec-carousel-content-container">
        <div class="ec-carousel-outer-container clearfix">
            <a class="ec-carousel-inner-container ec_f_l" ui-sref="{{carouselItem.url}}"
               ng-style="{'background-image':'url({{carouselItem.imageUrl}})'}"
               ng-repeat="carouselItem in carousel.carouselData track by $index"></a>
        </div>
        <div class="ec-carousel-indicators">
            <div class="ec-carousel-indicators-point" ng-class="{true:'selected'}[$first]"
                 ng-repeat="carouselItem in carousel.carouselData track by $index"></div>
        </div>
    </div>
</div>