<div class="ec-carousel">
    <div class="ec-carousel-content-container">
        <div class="ec-carousel-outer-container clearfix">
            <a class="ec-carousel-inner-container ec_f_l">1</a>
            <a class="ec-carousel-inner-container ec_f_l">2</a>
            <a class="ec-carousel-inner-container ec_f_l">3</a>
            <a class="ec-carousel-inner-container ec_f_l">4</a>
            <a class="ec-carousel-inner-container ec_f_l">5</a>
            <a class="ec-carousel-inner-container ec_f_l">6</a>
        </div>
        <div class="ec-carousel-indicators">
            <div class="ec-carousel-indicators-point selected"></div>
            <div class="ec-carousel-indicators-point"></div>
            <div class="ec-carousel-indicators-point"></div>
            <div class="ec-carousel-indicators-point"></div>
            <div class="ec-carousel-indicators-point"></div>
            <div class="ec-carousel-indicators-point"></div>
        </div>
    </div>
</div>