<div class="ec-guess-like">
    <div class="ec-guess-like-container">
        <div class="ec-guess-like-header"></div>
        <div class="ec-guess-like-content clearfix">
            <a class="ec-guess-like-item ec_f_l" ui-sref="mainPage">
                <div class="ec-guess-like-item-img"></div>
                <div class="ec-guess-like-item-content">
                    <div class="ec-guess-like-item-content-text">少女美屋丝滑牛奶丝性感纯色吊带背心 带模杯有钢圈包邮新款</div>
                    <div class="ec-guess-like-item-content-price">
                        <span>￥</span><span>68</span><span>.0</span>
                    </div>
                </div>
            </a>
            <a class="ec-guess-like-item ec_f_l" ui-sref="mainPage"></a>
            <a class="ec-guess-like-item ec_f_l" ui-sref="mainPage"></a>
            <a class="ec-guess-like-item ec_f_l" ui-sref="mainPage"></a>
            <a class="ec-guess-like-item ec_f_l" ui-sref="mainPage"></a>
        </div>
    </div>
</div>