<div class="ec-hot-brand">
    <div class="ec-hot-brand-container">
        <div class="ec-hot-brand-header clearfix">
            <div class="ec-header-left ec_f_l">
                热门品牌<i>HOT BRAND</i>
            </div>
            <div class="ec-header-right ec_f_r">
                <span class="selected">国际大牌</span><span>时尚潮牌</span><span>国内名牌</span><span>天猫原创</span>
            </div>
        </div>
        <div class="ec-hot-brand-content clearfix">
            <a class="ec-hot-brand-first-img-link ec_f_l" ui-sref="mainPage"></a>

            <div class="ec-hot-brand-left-container ec_f_l">
                <div class="ec-hot-brand-left-container-ul clearfix">
                    <a class="ec-hot-brand-left-container-li ec_f_l" ui-sref="mainPage"></a>
                    <a class="ec-hot-brand-left-container-li ec_f_l" ui-sref="mainPage"></a>
                    <a class="ec-hot-brand-left-container-li ec_f_l" ui-sref="mainPage"></a>
                    <a class="ec-hot-brand-left-container-li ec_f_l" ui-sref="mainPage"></a>
                    <a class="ec-hot-brand-left-container-li ec_f_l" ui-sref="mainPage"></a>
                    <a class="ec-hot-brand-left-container-li ec_f_l" ui-sref="mainPage"></a>
                    <a class="ec-hot-brand-left-container-li ec_f_l" ui-sref="mainPage"></a>
                    <a class="ec-hot-brand-left-container-li ec_f_l" ui-sref="mainPage"></a>
                    <a class="ec-hot-brand-left-container-li ec_f_l" ui-sref="mainPage"></a>
                    <a class="ec-hot-brand-left-container-li ec_f_l" ui-sref="mainPage"></a>
                    <a class="ec-hot-brand-left-container-li ec_f_l" ui-sref="mainPage"></a>
                    <a class="ec-hot-brand-left-container-li ec_f_l" ui-sref="mainPage"></a>
                    <a class="ec-hot-brand-left-container-li ec_f_l" ui-sref="mainPage"></a>
                    <a class="ec-hot-brand-left-container-li ec_f_l" ui-sref="mainPage"></a>
                    <a class="ec-hot-brand-left-container-li ec_f_l" ui-sref="mainPage"></a>
                    <a class="ec-hot-brand-left-container-li ec_f_l" ui-sref="mainPage"></a>
                    <a class="ec-hot-brand-left-container-li ec_f_l" ui-sref="mainPage"></a>
                    <a class="ec-hot-brand-left-container-li ec_f_l" ui-sref="mainPage"></a>
                    <a class="ec-hot-brand-left-container-li ec_f_l" ui-sref="mainPage"></a>
                    <a class="ec-hot-brand-left-container-li ec_f_l" ui-sref="mainPage"></a>
                    <a class="ec-hot-brand-left-container-li ec_f_l" ui-sref="mainPage"></a>
                    <a class="ec-hot-brand-left-container-li ec_f_l" ui-sref="mainPage"></a>
                    <a class="ec-hot-brand-left-container-li ec_f_l" ui-sref="mainPage"></a>
                    <a class="ec-hot-brand-left-container-li ec_f_l" ui-sref="mainPage"></a>
                </div>
            </div>
        </div>
    </div>
</div>