<div class="ec-login">
    <div class="header-container">
        <div class="header">
            <a ui-sref="mainPage">{{logoName}}</a>
        </div>
    </div>
    <div class="middle-container">
        <div class="middle">
            <div class="login-container">
                <div class="caption">账户登录</div>
                <div class="form-container">
                    <div class="username-container clearfix">
                        <label>
                            <i class="fa fa-user fa-lg fa-fw"></i>
                        </label>
                        <input ng-model="userName" type="text" placeholder="手机号/会员号/邮箱">
                    </div>
                    <div class="password-container clearfix">
                        <label>
                            <i class="fa fa-lock fa-lg fa-fw"></i>
                        </label>
                        <input ng-model="password" type="password">
                    </div>
                    <div class="tool-container clearfix">
                        <a>忘记登录密码?</a>
                        <a>免费注册</a>
                    </div>
                    <div class="login-button" ng-click="loginAccount();">登录</div>
                </div>
            </div>
        </div>
    </div>
</div>