<div class="ec-main-page">
    <ec-top-bar></ec-top-bar>
    <ec-search-bar></ec-search-bar>

    <ui-view>
        <ec-menu></ec-menu>
        <div style="background: url('images/TB1v9djLpXXXXb6XpXXTizQ2pXX-750-500.jpg') no-repeat left center; background-size: auto 100%; background-color: rgba(197, 5, 42, 1); width: 100%; height: 500px;"></div>
    </ui-view>

    <div class="test" style="display: none;">
        <a ui-sref="mainPage.test1">子页面1</a>
        <a ui-sref="mainPage.test2">子页面2</a>
        <a ui-sref="test3">页面1</a>
        <a ui-sref="mainPage">主页</a>
        <ui-view></ui-view>
    </div>
</div>