<div class="ec-search-bar">
    <div class="logo-container">
        {{$root.logoName}}
    </div>
    <div class="search-container">
        <div class="input-container clearfix">
            <input class="input-text" type="text" placeholder="时尚女装" ng-model="inputValue">

            <div class="search-btn">搜 索</div>
        </div>
        <ul class="hot-query-container clearfix">
            <li class="hot-query-highlight">
                <a>皮衣</a>
            </li>
            <li>
                <a>护手霜</a>
            </li>
            <li>
                <a>羽绒服</a>
            </li>
            <li class="hot-query-highlight">
                <a>雪地靴</a>
            </li>
            <li>
                <a>四件套</a>
            </li>
            <li>
                <a>4k电视</a>
            </li>
            <li>
                <a>口罩</a>
            </li>
            <li>
                <a>酒</a>
            </li>
            <li>
                <a>男斜挎包</a>
            </li>
            <li>
                <a>新年必买</a>
            </li>
            <li>
                <a>年货</a>
            </li>
        </ul>
    </div>
</div>