<div class="ec-top-bar">
    <div class="bar-container clearfix">
        <ul class="left-bar-container clearfix" ng-if="$root.isLogin">
            <li class="left-bar-container-li">
                <span>Hi,</span>
                <a>{{currentUserInfo.userName}}</a>
            </li>
            <li class="left-bar-container-li">
                <a class="grade" title="T{{currentUserInfo.grade}} 会员">
                    <span ng-bind="'T' + currentUserInfo.grade"></span>
                </a>
            </li>
            <li class="left-bar-container-li">
                <a>积分 <b>{{currentUserInfo.points}}</b></a>
            </li>
            <li class="left-bar-container-li">
                <a>消息 <b>{{currentUserInfo.messageNum}}</b></a>
            </li>
            <li class="left-bar-container-li" ui-sref="login">
                <a>退出</a>
            </li>
        </ul>
        <ul class="left-bar-container clearfix" ng-if="!$root.isLogin">
            <li class="left-bar-container-li not-login">
                <span>Hi, 欢迎来到{{$root.logoName}}</span>
            </li>
            <li class="left-bar-container-li not-login">
                <a ui-sref="login">请登录</a>
            </li>
            <li class="left-bar-container-li not-login">
                <a>免费注册</a>
            </li>
        </ul>
        <ul class="right-bar-container clearfix">
            <li class="right-bar-container-li has-second-level-menu">
                <a class="right-li-link">
                    <span class="text">我的{{$root.logoName}}</span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="second-level-menu-ul">
                    <li class="second-level-menu-ul-li">已买到的宝贝</li>
                    <li class="second-level-menu-ul-li">已买到的宝贝</li>
                    <li class="second-level-menu-ul-li">已买到的宝贝</li>
                    <li class="second-level-menu-ul-li">已买到的宝贝</li>
                </ul>
            </li>
        </ul>
    </div>
</div>