<div class="ec-main-menu">
    <div class="menu-container">
        <div class="btn-container clearfix">
            <div class="btn">全部商品分类</div>
            <i class="fa fa-angle-down fa-lg"></i>
        </div>

        <ul class="first-level-menu-ul">
            <li class="first-level-menu-li" ng-repeat="menu in ecMainMenu.mainMenuList track by $index">
                <div class="first-level-menu-li-content">
                    <span class="first-level-icon">{{menu.firstLevelMenu.iconText}}</span>
                    <span ng-repeat="firstLevelMenuTags in menu.firstLevelMenu.tags track by $index">
                        <a ui-sref="{{firstLevelMenuTags.url}}">{{firstLevelMenuTags.name}}</a>
                        <span ng-if="!$last">/</span>
                    </span>
                    <b class="arrow"></b>
                </div>

                <div class="second-level-menu-container clearfix {{menu.secondLevelMenu.fontColor}}"
                     ng-if="$index == 2">
                    <ul class="second-level-menu-ul-left">
                        <li class="second-level-menu-ul-left-li"
                            ng-repeat="leftList in menu.secondLevelMenu.leftList track by $index">
                            <h3 class="ec-title clearfix">
                                <a class="ec_detail ec_f_l"
                                   style="background-position-x: {{leftList.iconPosition.x + 'px'}}; background-position-y: {{leftList.iconPosition.y + 'px'}};"
                                   ui-sref="{{leftList.url}}">{{leftList.name}}</a>
                                <a class="ec_more ec_f_r" ng-if="leftList.isHasMore" ui-sref="{{leftList.url}}">更多</a>
                            </h3>
                            <ul class="ec-third-level-menu-ul clearfix"
                                ng-repeat="itemListArr in leftList.itemList track by $index">
                                <li class="ec-third-level-menu-li ec_f_l"
                                    ng-class="{true: 'ec-highlight'}[item.isHighLight]"
                                    ng-repeat="item in itemListArr track by $index">
                                    <a ui-sref="{{item.url}}">{{item.name}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="second-level-menu-ul-right">
                        <li class="second-level-menu-ul-right-li">
                            <h3 class="ec-title clearfix">
                                <a class="ec_detail ec_f_l"
                                   ui-sref="{{menu.secondLevelMenu.rightList.characteristicBrand.url}}">{{menu.secondLevelMenu.rightList.characteristicBrand.name}}</a>
                            </h3>
                            <ul class="ec-third-level-menu-ul clearfix">
                                <li class="ec-third-level-menu-li ec_f_l"
                                    ng-class="{true:'ec-highlight'}[item.isHighLight]"
                                    ng-repeat="item in menu.secondLevelMenu.rightList.characteristicBrand.itemList track by $index">
                                    <a ui-sref="{{item.url}}">{{item.name}}</a>
                                </li>
                            </ul>
                        </li>
                        <li class="second-level-menu-ul-right-li-for-img"
                            ng-repeat="brandImageUrl in menu.secondLevelMenu.rightList.brandImageUrls track by $index">
                            <a ui-sref="{{brandImageUrl.url}}">
                                <img class="ec-li-img" ng-src="{{brandImageUrl.imageUrl}}">
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>