<div class="ec-main-menu">
    <div class="menu-container">
        <div class="btn-container clearfix">
            <div class="btn">全部商品分类</div>
            <i class="fa fa-angle-down fa-lg"></i>
        </div>

        <ul class="first-level-menu-ul">
            <li class="first-level-menu-li">
                <div class="first-level-menu-li-content">
                    <i class="fa fa-fw">&#xf182;</i>
                    <a>女装</a>
                    <span>/</span>
                    <a>内衣</a>
                    <b class="arrow"></b>
                </div>

                <div class="second-level-menu-ul">

                </div>
            </li>

            <li class="first-level-menu-li">
                <div class="first-level-menu-li-content">
                    <i class="fa fa-fw fa-bitbucket"></i>
                    <a>男装</a>
                    <span>/</span>
                    <a>运动户外</a>
                    <b class="arrow"></b>
                </div>

                <div class="second-level-menu-ul">

                </div>
            </li>

            <li class="first-level-menu-li">
                <div class="first-level-menu-li-content">
                    <i class="fa fa-fw">&#xf183;</i>
                    <a>女鞋</a>
                    <span>/</span>
                    <a>男鞋</a>
                    <span>/</span>
                    <a>箱包</a>
                    <b class="arrow"></b>
                </div>

                <div class="third-level-menu-ul">

                </div>
            </li>
            <li class="first-level-menu-li">
                <div class="first-level-menu-li-content">
                    <i class="fa fa-fw">&#xf183;</i>
                    <a>女鞋</a>
                    <span>/</span>
                    <a>男鞋</a>
                    <span>/</span>
                    <a>箱包</a>
                    <b class="arrow"></b>
                </div>

                <div class="third-level-menu-ul">

                </div>
            </li>
            <li class="first-level-menu-li">
                <div class="first-level-menu-li-content">
                    <i class="fa fa-fw">&#xf183;</i>
                    <a>女鞋</a>
                    <span>/</span>
                    <a>男鞋</a>
                    <span>/</span>
                    <a>箱包</a>
                    <b class="arrow"></b>
                </div>

                <div class="third-level-menu-ul">

                </div>
            </li>
            <li class="first-level-menu-li">
                <div class="first-level-menu-li-content">
                    <i class="fa fa-fw">&#xf183;</i>
                    <a>女鞋</a>
                    <span>/</span>
                    <a>男鞋</a>
                    <span>/</span>
                    <a>箱包</a>
                    <b class="arrow"></b>
                </div>

                <div class="third-level-menu-ul">

                </div>
            </li>
            <li class="first-level-menu-li">
                <div class="first-level-menu-li-content">
                    <i class="fa fa-fw">&#xf183;</i>
                    <a>女鞋</a>
                    <span>/</span>
                    <a>男鞋</a>
                    <span>/</span>
                    <a>箱包</a>
                    <b class="arrow"></b>
                </div>

                <div class="third-level-menu-ul">

                </div>
            </li>
            <li class="first-level-menu-li">
                <div class="first-level-menu-li-content">
                    <i class="fa fa-fw">&#xf183;</i>
                    <a>女鞋</a>
                    <span>/</span>
                    <a>男鞋</a>
                    <span>/</span>
                    <a>箱包</a>
                    <b class="arrow"></b>
                </div>

                <div class="third-level-menu-ul">

                </div>
            </li>
            <li class="first-level-menu-li">
                <div class="first-level-menu-li-content">
                    <i class="fa fa-fw">&#xf183;</i>
                    <a>女鞋</a>
                    <span>/</span>
                    <a>男鞋</a>
                    <span>/</span>
                    <a>箱包</a>
                    <b class="arrow"></b>
                </div>

                <div class="third-level-menu-ul">

                </div>
            </li>
            <li class="first-level-menu-li">
                <div class="first-level-menu-li-content">
                    <i class="fa fa-fw">&#xf183;</i>
                    <a>女鞋</a>
                    <span>/</span>
                    <a>男鞋</a>
                    <span>/</span>
                    <a>箱包</a>
                    <b class="arrow"></b>
                </div>

                <div class="third-level-menu-ul">

                </div>
            </li>
            <li class="first-level-menu-li">
                <div class="first-level-menu-li-content">
                    <i class="fa fa-fw">&#xf183;</i>
                    <a>女鞋</a>
                    <span>/</span>
                    <a>男鞋</a>
                    <span>/</span>
                    <a>箱包</a>
                    <b class="arrow"></b>
                </div>

                <div class="third-level-menu-ul">

                </div>
            </li>
            <li class="first-level-menu-li">
                <div class="first-level-menu-li-content">
                    <i class="fa fa-fw">&#xf183;</i>
                    <a>女鞋</a>
                    <span>/</span>
                    <a>男鞋</a>
                    <span>/</span>
                    <a>箱包</a>
                    <b class="arrow"></b>
                </div>

                <div class="third-level-menu-ul">

                </div>
            </li>
            <li class="first-level-menu-li">
                <div class="first-level-menu-li-content">
                    <i class="fa fa-fw">&#xf183;</i>
                    <a>女鞋</a>
                    <span>/</span>
                    <a>男鞋</a>
                    <span>/</span>
                    <a>箱包</a>
                    <b class="arrow"></b>
                </div>

                <div class="third-level-menu-ul">

                </div>
            </li>
            <li class="first-level-menu-li">
                <div class="first-level-menu-li-content">
                    <i class="fa fa-fw">&#xf183;</i>
                    <a>女鞋</a>
                    <span>/</span>
                    <a>男鞋</a>
                    <span>/</span>
                    <a>箱包</a>
                    <b class="arrow"></b>
                </div>

                <div class="third-level-menu-ul">

                </div>
            </li>
            <li class="first-level-menu-li">
                <div class="first-level-menu-li-content">
                    <i class="fa fa-fw">&#xf183;</i>
                    <a>女鞋</a>
                    <span>/</span>
                    <a>男鞋</a>
                    <span>/</span>
                    <a>箱包</a>
                    <b class="arrow"></b>
                </div>

                <div class="third-level-menu-ul">

                </div>
            </li>
            <li class="first-level-menu-li">
                <div class="first-level-menu-li-content">
                    <i class="fa fa-fw">&#xf183;</i>
                    <a>女鞋</a>
                    <span>/</span>
                    <a>男鞋</a>
                    <span>/</span>
                    <a>箱包</a>
                    <b class="arrow"></b>
                </div>

                <div class="third-level-menu-ul">

                </div>
            </li>

        </ul>
    </div>
</div>